%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:accounts, :index)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header= mat(:topic, :id)
        %th.header= mat(:topic, :user_id)
        %th.header= mat(:topic, :node_id)
        %th.header= mat(:topic, :title)
        %th.header.list-row-action-header
    %tbody
      -@accounts.each do |account|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'account_ids[]', :value => account.id, :class => 'list-selectable-checkbox'
          %td.list-column=account.id
          %td.list-column=account.name
          %td.list-column=account.surname
          %td.list-column=account.email
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:accounts, :edit, :id => account.id), :rel => :tooltip, :title => "#{pat(:edit)} account", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon('trash-o'), :rel => :tooltip, :title => "#{pat(:delete)} account", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "account")
                .popover-content
                  = form_tag url(:accounts, :destroy, :id => account.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-default.btn-small.cancel=pat(:cancel)
